body {

    color: #262020;
    background-color: lightblue;
  }

  .jumbotron {
    background-image: url("../image/microbial-diversity.jpg");
    background-size: 100% 200%;
    text-align: center;
  }


 
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 30px;
    text-align: center;
  }